@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --second-color: #ff791f;
  --bg-color: #303030;
  --dark: #1b1e2c;
  --main-color: #ff8635;
  --main-color-shadow: #EC5800;
}

/* Header section starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: auto;
  width: 100%;
  z-index: 200;
  transition: background-color 0.3s ease-in-out;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
  transition: .5s;
}

.active-filter {
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.navbar-brand {
  font-family: 'Dancing Script';
}

.navbar-brand span {
  font-size: 2.5rem;
  font-weight: 600;
}

.exclamation {
  color: #ff791f;
}

.word {
  color: white;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}

.user_option .user_link:hover {
  color: #ffbe33;
}

.user_option .signin {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .signin:hover {
  background-color: #e69c00;
}

.navbar-toggler {
  outline: none;
}

.navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.navbar-toggler span::before,
.navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-toggler span::after {
  top: 10px;
}

.navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] span::before,
.navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-nav .nav-item:hover .nav-link {
  color: var(--main-color);
  border-color: var(--main-color);
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--main-color);
}
/* Header section ends */

/* Body section starts */
body {
  font-family: 'Roboto', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.preview {
  position: relative;
  background-size: cover;
  width: 100%;
  min-height: 440px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.form-check-input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border-color: var(--main-color-shadow);;
}

.preview-text {
  color: white;
  text-align: center;
  z-index: 1;
}

.preview-title {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
}

.preview-subtitle {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: orange;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.checked {
    color: orange;
}

.description img {
  width: 100%;
}

.comment {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: #d0e2bc;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
/* Body section ends */

/* Footer section starts */
.footer_section {
  background-color: #222831;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
  font-family: 'Pacifico', cursive;
}

.footer_section h4 .footer_section {
  margin-bottom: 20px;
}

.footer_section .footer-logo {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 15px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.75;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer_section .footer-logo {
  display: block;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: var(--second-color);
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;
}
/* Footer section ends */

@media (max-width: 992px) {
  .navbar-nav {
    padding-top: 15px;
    padding-left: 0;
    align-items: center;
  }

  .user_option {
    justify-content: center;
    margin-top: 15px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }
}